body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(5, 5, 93);
    color:aliceblue;
}

h1 {
    color:rgb(50, 153, 242);
}

/* Attribute Selector */
a {
    color:rgb(164, 178, 190);
    text-decoration: none;
}
a:hover {
    color: rgb(42, 100, 236);
}

/* Sibling Selector*/
h1, p{
    background-color: rgb(33, 43, 111);
    padding: 10px;
    border-radius: 5px;
}
/* :hover Pseudo-class*/
ul li:hover {
    color: rgb(72, 149, 231);
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color: rgb(9, 142, 98);
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type){
    text-decoration: underline;
}
/* ::before Pseudo-element */
ul li::before {
    content: "🚀 ";
}

/* ::after Pseudo-element */
a::after{
    content: " 🌌";
}

/* ::first-letter Pseudo-element */
p::first-letter {
    font-size: 200%;
    color:rgb(233, 79, 79)
}